@font-face {
  font-family: "Vollkorn";
  font-style: normal;
  src: url("../fonts/Vollkorn-Regular.woff2") format("woff2"); }

@font-face {
  font-family: "Vollkorn";
  font-style: italic;
  src: url("../fonts/Vollkorn-Italic.woff2") format("woff2"); }

@font-face {
  font-family: "League Spartan VF";
  src: url("../fonts/LeagueSpartan-VF.woff2") format("woff2-variations");
  font-weight: 125 950;
  font-stretch: 75% 125%;
  font-style: oblique 0deg 20deg; }

body {
  background-color: white;
  font-family: "Vollkorn", "Liberation Serif", Georgia, Times, serif; }

a {
  color: #e80a59;
  text-decoration: none; }
  a:hover {
    color: #458a6b; }
  a:focus-visible, a.nav-link:focus-visible {
    border: 3px solid #e80a59; }

.nav a, nav a {
  color: white;
  font-family: "League Spartan VF", Helvetica, Arial, sans-serif;
  font-size: 1.3rem;
  margin-left: 3rem;
  margin-right: 3rem; }
  .nav a:hover, .nav a.nav-link:hover, nav a:hover, nav a.nav-link:hover {
    background-color: #ffffff;
    border-radius: 3px;
    color: #e80a59; }
  .nav a:visited, .nav a:link, nav a:visited, nav a:link {
    color: white; }
  .nav a:focus, .nav a.nav-link:focus, nav a:focus, nav a.nav-link:focus {
    color: white; }
  .nav a:focus-visible, .nav a.nav-link:focus-visible, nav a:focus-visible, nav a.nav-link:focus-visible {
    border: 3px solid white; }

.navbar-toggler {
  font-family: "League Spartan VF", Helvetica, Arial, sans-serif;
  line-height: unset;
  min-width: 100%; }
  .navbar-toggler:focus {
    border: 2px solid white;
    outline: none;
    box-shadow: none; }

.bg-magenta {
  background-color: #e80a59; }

.logo {
  max-height: 140px; }

.colbox h2 {
  color: #e80a59;
  line-height: 1; }

:is(h1, h2, h3, h4, h5) {
  font-family: "League Spartan VF", Helvetica, Arial, sans-serif;
  font-variation-settings: "wght" 250; }

h3 {
  border-bottom: 1px solid #d3cdc5;
  font-variation-settings: "wght" 450;
  color: #4c4e50; }

h4 {
  font-variation-settings: "wght" 450; }
  h4 a, h4 a:visited {
    color: #4c4e50; }
  h4 a:hover {
    color: #e80a59; }

ul, ol {
  padding-left: 1rem; }

p, li {
  font-size: 1.2rem;
  font-family: "Vollkorn", "Liberation Serif", Georgia, Times, serif; }

.ch-row {
  background-color: white;
  margin-bottom: 0;
  padding: 1rem 1rem 1rem; }
  .ch-row p {
    color: #191c1f; }
    .ch-row p.highlight {
      color: #1a6644; }

#intro p {
  padding: .5rem; }

.side-menu {
  z-index: 1000;
  top: 5rem; }

.footer {
  margin-top: 2rem;
  padding-top: .5rem;
  border-top: 1px solid #d3cdc5; }
  .footer a {
    color: #4c4e50;
    font-family: "League Spartan VF", Helvetica, Arial, sans-serif; }
    .footer a:hover {
      color: #e80a59; }

#intro, #ablauf, #kontakt, #leistungen, #lst-leichtesprache, #lst-lektorat, #lst-redaktion, #uebermich {
  scroll-margin-top: 5rem; }

.nr {
  font-family: "League Spartan VF", Helvetica, Arial, sans-serif; }

address {
  font-family: "Vollkorn", "Liberation Serif", Georgia, Times, serif; }
