$color-background: rgb(255, 255, 255);
$color-boxes: rgb(255, 255, 255);
$color-magenta: rgb(232, 10, 89);
$color-submenu: rgb(76, 78, 80);
$color-menu: rgb(255, 255, 255);
$color-menu-highlight: $color-magenta;
//$color-menu: rgb(56, 117, 86);
$color-text: rgb(25, 28, 31);
$color-highlight: rgb(69, 138, 107);
$color-highlight-text: rgb(26, 102, 68);
$color-gray-light: rgb(211, 205, 197);


@font-face {
  font-family: "GoudyStMRegular";
  src: url("../fonts/GoudyStM-webfont.woff") format("woff");
}

@font-face {
  font-family: "GoudyStMItalic";
  src: url("../fonts/GoudyStM-Italic-webfont.woff") format("woff");
}

@font-face {
  font-family: "Vollkorn";
  font-style: normal;
  src: url("../fonts/Vollkorn-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Vollkorn";
  font-style: italic;
  src: url("../fonts/Vollkorn-Italic.woff2") format("woff2");
}

@font-face {
  font-family: "League Spartan VF";
  src: url("../fonts/LeagueSpartan-VF.woff2") format("woff2-variations");
  font-weight: 125 950;
  font-stretch: 75% 125%;
  font-style: oblique 0deg 20deg;
}

@font-face {
  font-family: "League Gothic Condensed";
  src: url("../fonts/LeagueGothic-Condensed.woff2") format("woff2");
  font-style: normal;
}

$font-sans: "League Spartan VF", Helvetica, Arial, sans-serif;
$font-serif: "Vollkorn", "GoudyStMRegular", "Liberation Serif", serif;

body {
  background-color: $color-background;
  font-family: $font-serif;
}

a {

  color: $color-magenta;
  text-decoration: none;

  &[href^="mailto"]::before {
    content: "📧 ";
  }

  &[href^="tel"]::before {
    content: "📞 ";
  }

  &:hover {
    color: $color-highlight;
  }
}

.nav a,
nav a {
  font-size: 1.3rem;
  font-family: $font-sans;
  color: $color-menu;

  &:hover,
  &.nav-link:hover {
    color: $color-menu-highlight;
    background-color: #ffffff;
  }

  &:visited,
  &:link {
    color: $color-menu;
  }
}

.navbar-toggler {
  font-family: $font-sans;
  line-height: unset;
  &:focus {
    border: 2px solid white;
    outline: none;
    box-shadow: none;
  }
}

.bg-magenta {
  background-color: $color-magenta;
}

.logo {
  max-height: 140px;
}

.colbox {
  //background-color: $color-magenta;
  h2 {
    color: $color-magenta;
    line-height: 1;
  }
}

:is(h1, h2, h3, h4, h5) {
  font-family: $font-sans;
  font-variation-settings: "wght" 250;
  //line-height: 1.1;
}

h3 {
  //font-variation-settings: "wght" 550;
  border-bottom: 1px solid $color-gray-light;
  font-variation-settings: "wght" 450;
  color: $color-submenu;
}

h4 {
  font-variation-settings: "wght" 450;

  a, a:visited {
    color: $color-submenu;
  }

  a:hover {
    color: $color-magenta;
  }
}

:not(h1, h2, h3, h4, h5) {
}

ul, ol {
  padding-left: 1rem;
}

p, li {
  font-size: 1.2rem;
}

p {
  //font-family: "GoudyStMRegular", "Liberation Serif", serif;

}

.ch-row {
  background-color: $color-boxes;
  margin-bottom: 2rem;
  padding: 2rem 1rem 3rem;

  p {
    //font-family: "Liberation Serif";
    color: $color-text;

    &.highlight {
      color: $color-highlight-text;
      //border-left: 5px solid $color-highlight;
      //padding-left: 10px;
    }
  }
}

#intro {
  p {

    padding: .5rem;
  }
}

.side-menu {
  z-index: 1000;
    top: 4rem;
}

#intro, #ablauf, #kontakt, #leistungen, #lst-leichtesprache, #lst-lektorat, #lst-redaktion, #uebermich {
  scroll-margin-top: 4rem;
}

