//@import "bootstrap/bootstrap.scss";

$color-background: rgb(255, 255, 255);
$color-boxes: rgb(255, 255, 255);
$color-magenta: rgb(232, 10, 89);
$color-submenu: rgb(76, 78, 80);
$color-menu: rgb(255, 255, 255);
$color-menu-highlight: $color-magenta;
//$color-menu: rgb(56, 117, 86);
$color-text: rgb(25, 28, 31);
$color-highlight: rgb(69, 138, 107);
$color-highlight-text: rgb(26, 102, 68);
$color-gray-light: rgb(211, 205, 197);

@font-face {
  font-family: "Vollkorn";
  font-style: normal;
  src: url("../fonts/Vollkorn-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Vollkorn";
  font-style: italic;
  src: url("../fonts/Vollkorn-Italic.woff2") format("woff2");
}

@font-face {
  font-family: "League Spartan VF";
  src: url("../fonts/LeagueSpartan-VF.woff2") format("woff2-variations");
  font-weight: 125 950;
  font-stretch: 75% 125%;
  font-style: oblique 0deg 20deg;
}

$font-sans: "League Spartan VF", Helvetica, Arial, sans-serif;
$font-serif: "Vollkorn", "Liberation Serif", Georgia, Times, serif;

body {
  background-color: $color-background;
  font-family: $font-serif;
}

a {

  color: $color-magenta;
  text-decoration: none;

  &:hover {
    color: $color-highlight;
  }

  &:focus-visible,
  &.nav-link:focus-visible {
    border: 3px solid $color-magenta;
  }
}

.nav, nav {

  a {
    color: $color-menu;
    font-family: $font-sans;
    font-size: 1.3rem;
    margin-left: 3rem;
    margin-right: 3rem;

    &:hover,
    &.nav-link:hover {
      background-color: #ffffff;
      border-radius: 3px;
      color: $color-menu-highlight;
    }

    &:visited,
    &:link {
      color: $color-menu;
    }

    &:focus,
    &.nav-link:focus {
      color: white;
    }

    &:focus-visible,
    &.nav-link:focus-visible {
      border: 3px solid white;
    }
  }
}

.navbar-toggler {
  font-family: $font-sans;
  line-height: unset;
  min-width: 100%;

  &:focus {
    border: 2px solid white;
    outline: none;
    box-shadow: none;

  }
}

.bg-magenta {
  background-color: $color-magenta;
}

.logo {
  max-height: 140px;
}

.colbox {
  h2 {
    color: $color-magenta;
    line-height: 1;
  }
}

:is(h1, h2, h3, h4, h5) {
  font-family: $font-sans;
  font-variation-settings: "wght" 350;
  //line-height: 1.1;
}

h2 {
  font-variation-settings: "wght" 350;
}

h3 {
  border-bottom: 1px solid $color-gray-light;
  font-variation-settings: "wght" 350;
  color: $color-submenu;
}

h4 {
  font-variation-settings: "wght" 350;

  a, a:visited {
    color: $color-submenu;
  }

  a:hover {
    color: $color-magenta;
  }
}

ul, ol {
  padding-left: 1rem;
}

p, li {
  font-size: 1.2rem;
  font-family: $font-serif;
}

.ch-row {
  background-color: $color-boxes;
  margin-bottom: 0;
  padding: 1rem 1rem 1rem;

  p {
    color: $color-text;

    &.highlight {
      color: $color-highlight-text;
    }
  }
}

#intro {
  p {

    padding: .5rem;
  }
}

.side-menu {
  z-index: 1000;
  top: 5rem;
}

.footer {
  margin-top: 2rem;
  padding-top: .5rem;
  border-top: 1px solid $color-gray-light;

  a {
    color: $color-submenu;
    font-family: $font-sans;

    &:hover {
      color: $color-magenta;
    }
  }
}

#intro, #ablauf, #kontakt, #leistungen, #lst-leichtesprache, #lst-lektorat, #lst-redaktion, #uebermich {
  scroll-margin-top: 5rem;
}

.nr {
    font-family: $font-sans;
    //font-variation-settings: "slnt" 250;
}

address {
  font-family: $font-serif;
}